input {
    font-size: 16px;
    border-radius: 30px;
    border: none;
    width: 500px;
    padding: 12px 15px 12px 15px;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 30px;
}

.google-logo {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
}
button {
    background-color: rgb(245, 245, 245);
    border: none;
    font-size: 15px;
    padding: 12px 20px 12px 20px;
    margin-right: 10px;
}
div {
    text-align: center;
}